<h1>New book</h1>

<%= form_for @book do |form| %>
  <p>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :author %>
    <%= form.text_field :author %>
  </p>
  <p>
    <%= form.label :description %>
    <%= form.text_field :description %>
  </p>
  <p>
  	<%= form.submit %>
  </p>
<% end %>	